<h1>NG For</h1>
<ul>
  <li *ngFor="let course of courses; let i = index">
    {{ i }} - {{ course.name }}
  </li>
</ul>
<br />
<br />
<h1>NP Switch</h1>
<h4>Current choice is {{ value }}</h4>
<div [ngSwitch]="value">
  <p *ngSwitchCase="1">First Choice</p>
  <p *ngSwitchCase="2">Second Choice</p>
  <p *ngSwitchCase="3">Third Choice</p>
  <p *ngSwitchCase="2">Second Choice Again</p>
  <p *ngSwitchDefault>Default Choice</p>
</div>
<div>
  <button (click)="nextChoice()">Next Choice</button>
</div>

<!-- <app-welcome></app-welcome>  -->
<app-login></app-login>
