#heading {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 1.5px 1.5px darkgreen;
    color: green;
    background-color: lightgreen;
    position: sticky;
    position: -webkit-sticky;
}